<div class="col-xs-12" ng-controller="groupBalanceCntrl as groupBal">
	<div ng-if="groupBal.groups.length > 0">
		<h2 class="col-xs-12">{{groupBal.bal.group.gname}}</h2>
		<div class="col-xs-4">
		<!-- <pre>{{groupBal.groups | json}}</pre> -->
			<select class="form-control" ng-model="groupBal.selectedOption" ng-options="g.gname for g in groupBal.groups" ng-change="groupBal.getGroupDetails(groupBal.selectedOption)">
			</select>
		</div>
		<hr class="col-xs-12"/>
		<div class="col-xs-12">
			<table class="table billDescription" ng-if="hasBills">
	        	<thead>
	        		<tr>
	        			<th>Sno.</th>
	                    <th>Date</th>
	        			<th>Bill By</th>
	        			<th class="text-right">Bill For</th>
	        			<th>Description</th>
	        			<th class="text-right">Amount</th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr ng-repeat="rec in bills track by $index">
	        			<td>{{$index + 1}}</td>
	                    <td>{{rec.date | date}}</td>
	        			<td>{{rec.user}}</td>
	        			<td class="text-right">{{rec.billFor.length}} <i id="mytooltip" ng-mouseover="groupBal.billforTooltip(rec.billFor)"class="glyphicon glyphicon-question-sign" data-placement="right" data-content="{{groupBal.content}}" data-trigger="hover" bs-popover></i></td>
	        			<td>{{rec.desciption}}</td>
	        			<td class="text-right">{{rec.amount | currency}}</td>
	        		</tr>
	        	</tbody>
	    	</table>
	    	<h4 class='text-muted text-center' ng-if="!hasBills">You don't have any Messages!</h4>
		</div>
	</div>
	<h4 class='text-muted text-center col-xs-12' ng-if="!groupBal.groups">You don't have any Groups!</h4>
</div>